package {{package}};

import {{modelPackage}}.*;

{{#imports}}import {{import}};
{{/imports}}

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

{{#operations}}
public interface {{classname}} {

  public static {{classname}} newInstance() {
    return new {{package}}.{{classname}}Facade( new {{package}}.ResponsiveApiClient() );
  }

  public static {{classname}} newInstance( {{package}}.ApiClient apiClient ) {
    return new {{package}}.{{classname}}Facade( apiClient );
  }

  public static {{classname}} newInstance( {{package}}.server.{{classname}}Delegate delegate ) {
    return new {{package}}.{{classname}}Facade( delegate );
  }

  {{#operation}}
  {{#isDeprecated}}@Deprecated{{/isDeprecated}}
  public {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} do_{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});

  public org.omg.spec.api4kp._1_0.Answer<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}> {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});


  {{/operation}}
}
{{/operations}}

