package {{package}};

import {{modelPackage}}.*;
{{#imports}}import {{import}};
{{/imports}}

{{^fullJavaUtil}}
import java.util.List;
{{/fullJavaUtil}}

{{#operations}}
public interface {{classname}} extends {{package}}.server.{{classname}}Internal {

  public static {{classname}} newInstance( {{package}}.client.ApiClientFactory apiClientFactory ) {
    return new {{package}}.{{classname}}Facade( apiClientFactory );
  }

  public static {{classname}} newInstance( String baseUrl ) {
    return new {{package}}.{{classname}}Facade(
     new {{package}}.client.ApiClientFactory(baseUrl) );
  }

  public static {{classname}} newInstance( {{package}}.server.{{classname}}Delegate delegate ) {
    return new {{package}}.{{classname}}Facade( delegate );
  }

  public static {{classname}} newInstance( {{package}}.server.{{classname}}Internal internal ) {
    return ({{classname}}) internal;
  }

  {{#operation}}
  {{#isDeprecated}}@Deprecated{{/isDeprecated}}
  /**
   * {{summary}}
   *
   * @see {{classname}}#{{operationId}}
   */
  default {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} do_{{operationId}}(
    {{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
    {{#returnType}} return {{/returnType}} {{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}).orElse(null);
  }

  /**
    * {{{summary}}}
    *
    * {{{notes}}}
    */
  org.omg.spec.api4kp._20200801.Answer<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}> {{operationId}}(
    {{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}  {{/allParams}});

  {{#hasOptionalParams}}
  /**
   * {{summary}}
   *
   * @see {{classname}}#{{operationId}}
   */
  default org.omg.spec.api4kp._20200801.Answer<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}> {{operationId}}(
    {{#requiredParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}) {
    return {{operationId}}({{#allParams}}{{#required}}{{paramName}}{{/required}}{{^required}}{{#defaultValue}}{{#isString}}"{{.}}"{{/isString}}{{^isString}}{{.}}{{/isString}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
  }
  {{/hasOptionalParams}}


  {{/operation}}
}
{{/operations}}

