package {{package}};

import edu.mayo.kmdp.util.ws.ResponseHelper;

import {{modelPackage}}.*;
{{#imports}}import {{import}};
{{/imports}}

{{^fullJavaUtil}}
import java.util.List;
{{/fullJavaUtil}}

import javax.inject.Inject;
import javax.inject.Named;
import org.omg.spec.api4kp._20200801.services.KPServer;

import org.springframework.beans.factory.annotation.Autowired;

import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;

{{#operations}}
@Named
@KPServer
public class {{classname}}InternalAdapter implements {{classname}}Delegate {

  @Autowired(required = false) @KPServer
  private {{classname}}Internal server;

  {{#operation}}

  public ResponseEntity<{{#returnType}}{{>returnTypes}}{{/returnType}}{{^returnType}}Void{{/returnType}}> {{operationId}}(
    {{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}  {{/allParams}}) {
      if (server == null) {
        return ResponseEntity.status(HttpStatus.NOT_IMPLEMENTED).build();
      }
      return ResponseHelper.asResponse(server.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}  {{/allParams}}));
    }

  {{/operation}}


}
{{/operations}}

