package {{package}};

import {{modelPackage}}.*;
{{#imports}}import {{import}};
{{/imports}}

{{^fullJavaUtil}}
import java.util.List;
import java.util.Optional;
{{/fullJavaUtil}}

{{#operations}}
public interface {{classname}}Internal {

  public interface {{classname}}Operation {
    // marker interface for Operations
  }


{{#operation}}

  @java.lang.FunctionalInterface
  public interface _{{operationId}} extends {{classname}}Operation {
    org.omg.spec.api4kp._20200801.Answer<{{>returnTypes}}> {{operationId}}(
        {{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}  {{/allParams}});
  }

  default org.omg.spec.api4kp._20200801.Answer<{{>returnTypes}}> {{operationId}}(
    {{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}  {{/allParams}}) {
    return org.omg.spec.api4kp._20200801.Answer.unsupported();
  }

  {{#hasOptionalParams}}
  default org.omg.spec.api4kp._20200801.Answer<{{>returnTypes}}> {{operationId}}(
    {{#requiredParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/requiredParams}}) {
    return {{operationId}}({{#allParams}}{{#required}}{{paramName}}{{/required}}{{^required}}{{#defaultValue}}{{#isString}}"{{.}}"{{/isString}}{{^isString}}{{.}}{{/isString}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
  }
  {{/hasOptionalParams}}

{{/operation}}

  public interface Operator {
    {{#operation}}

    default boolean can_{{operationId}}() {
      return this instanceof _{{operationId}};
    }

    default Optional<_{{operationId}}> as_{{operationId}}() {
      return can_{{operationId}}()
        ? Optional.of((_{{operationId}}) this)
        : Optional.empty();
    }

    default org.omg.spec.api4kp._20200801.Answer<{{>returnTypes}}> try_{{operationId}}(
        {{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}  {{/allParams}}) {
        return can_{{operationId}}()
          ? org.omg.spec.api4kp._20200801.Answer.of(as_{{operationId}}())
                  .flatMap(x -> x.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}  {{/allParams}}))
          : org.omg.spec.api4kp._20200801.Answer.unsupported();
    }

    {{/operation}}

  }

}
{{/operations}}
